*, *:before, *:after {
  box-sizing: border-box; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0; }

button, input, select, textarea {
  margin: 0; }

button, input, select {
  vertical-align: middle; }

html {
  height: 100%;
  height: 100vh;
  font-size: 62.5%; }

body {
  min-height: 100%;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.625;
  font-weight: 400;
  background-color: #FFF;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 4.2rem;
  width: 100%;
  line-height: 1.125;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.125; }

h3 {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.125; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2.1rem; }

h6 {
  font-size: 1.8rem; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

b, strong {
  font-weight: bold;
  font-weight: 700; }

i, em {
  font-style: italic; }

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #DDD; }

header,
main,
footer {
  margin: 0 auto; }

header,
footer {
  padding: 1.5rem; }

svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block; }

p {
  margin: 0 0 1.5rem 0; }
  p + p {
    margin: 1.5rem 0; }

ul, ol {
  list-style-position: inside;
  margin: 0 0 1.5rem 0; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

::selection {
  background: #2db59e;
  color: #FFF; }

::-moz-selection {
  background: #2db59e;
  color: #FFF; }

header {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem 0 0 0;
  text-align: center; }
  header#inner_header {
    margin-bottom: 10rem;
    padding-top: 1rem; }

#logo {
  color: #333;
  text-decoration: none;
  line-height: 1; }

#personal-logo {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  height: 4.3rem;
  width: 8.3rem; }

#site_menu {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: flex;
  text-align: center;
  justify-content: space-around; }
  @media only screen and (min-width: 600px) {
    #site_menu {
      max-width: 60rem; } }
  #site_menu li {
    display: inline-block; }
  #site_menu a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-underline-offset: 5px;
    font-weight: 800;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    #site_menu a:hover, #site_menu a:focus {
      -webkit-text-decoration-color: inherit;
              text-decoration-color: inherit; }
    #site_menu a .emoji {
      font-size: 1.8rem;
      vertical-align: bottom;
      margin-right: .5rem; }

#projects_page #site_menu #projects_link {
  color: #333;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit; }

#about_page #site_menu #about_link {
  color: #333;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit; }

#blog_page #site_menu #blog_link {
  color: #333;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit; }

.header_tag.eyebrow {
  margin-bottom: 0; }

.email_link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #707070;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }
  .email_link .emoji {
    font-size: 2.4rem; }

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: 1.5rem 0; }

.nameplate {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: 1.5rem 0;
  font-size: 3.6rem;
  width: 100%;
  line-height: 1.125;
  text-transform: uppercase; }

#hero {
  font-size: 2.4rem;
  font-weight: 300;
  max-width: 75rem;
  margin: 5rem auto;
  display: block; }

#social {
  display: block;
  text-align: center; }
  #social .software-icon {
    height: 2.4rem;
    max-width: 2.4rem; }
    #social .software-icon.linkedin {
      border-radius: 0.35rem;
      background: white; }
    #social .software-icon.github {
      fill: #FFF; }
      #resume #social .software-icon.github {
        fill: #333; }
    #social .software-icon.codepen {
      fill: #FFF;
      stroke-width: 0.7;
      stroke: #333; }
      #resume #social .software-icon.codepen {
        fill: #333;
        stroke: #FFF; }
    #social .software-icon.pinterest {
      border-radius: 100%;
      background: #ca1f26; }
  #social li {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-top: 0; }
  #social a {
    display: block;
    padding: 6rem 1.5rem; }
    @media only screen and (min-width: 800px) {
      #social a {
        padding: 3rem 2rem; } }

#content_wrapper {
  overflow-x: hidden;
  margin: 3rem auto 0 auto;
  max-width: 100rem;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 8.5in) {
    #content_wrapper {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; } }

#page_top {
  padding: 0 1.5rem; }
  @media only screen and (min-width: 8.5in) {
    #page_top {
      -webkit-box-flex: 1;
              flex: 1 1 100%;
      padding: 0; } }
  #page_top h1 {
    text-align: left; }
  #page_top address {
    display: inline-block; }
    #page_top address + a {
      font-size: 1.6rem;
      margin-left: 1.5rem; }

@media only screen and (min-width: 8.5in) {
  main {
    -webkit-box-flex: 0;
            flex: 0 0 66.6666%;
    padding-right: 0.25in; }
    main section {
      padding: 0; } }

@media only screen and (min-width: 8.5in) {
  aside {
    -webkit-box-flex: 0;
            flex: 0 0 33.33%; }
    aside > div {
      padding: 0; } }

.date_timespan {
  display: block; }
  li .date_timespan {
    margin: 0.25rem 0 0.75rem 0; }

section,
aside > div {
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  section:last-child,
  aside > div:last-child {
    margin-bottom: 0; }

h1 {
  margin: 0; }

h2 {
  margin: 1.5rem 0;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
  font-weight: 300; }

ul {
  list-style-position: outside;
  padding: 0 0 0 1.75rem;
  margin: 0; }
  ul li {
    margin-top: 1.5rem;
    line-height: 1.25; }
    ul li:first-child {
      margin-top: 0; }

p {
  margin: 1.5rem 0 0 0; }
  p:first-child {
    margin-top: 0; }

address,
.company_phone,
.date_timespan {
  color: #707070;
  margin: 0;
  font-style: normal;
  font-size: 1.6rem; }

.company_name {
  font-size: 1.6rem;
  font-weight: 700; }

#work_experience article,
#education article {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 3rem; }
  #work_experience article .date_timespan,
  #education article .date_timespan {
    -webkit-box-ordinal-group: 0;
            order: -1; }

.subtext {
  display: block;
  color: #707070;
  margin: 0;
  font-style: normal;
  font-size: 1.4rem; }
