header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
  padding-bottom: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
	display: inline-block;
	margin-right: -2rem;
	font-size: 3.2rem;
  line-height: 1.125;
  text-decoration: none;
  color: $c_black;

  #tagline {
    display: block;

    font-size: 1.4rem;
    font-weight: $f_light;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    padding: 1rem 0 0 0;
  }
}

nav { line-height: 1; }

#site_menu {
	position: fixed;
	top: 0;
  opacity: 1 !important;
	left: 100%;
	z-index: 100;
	height: 100vh;
	width: 100vw;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out, left 300ms ease-in-out;
  background-color: rgba($c_teal, 0.95);
  text-align: center;
  padding: 25vh 1.5rem;
  font-size: 2.1rem;

    li {
    	margin-bottom: 3rem;

      a {
        display: block;
    
        color: $c_white;
        font-size: 3.2rem;
        text-decoration: none;
        padding: 1.5rem;
      }
    }
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  z-index: 10000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover,
  &:focus,
  &:active { background-color: transparent; }

  span {
    display: block;
    position: absolute;
    top: 22px;
    left: 10px;
    right: 10px;
    height: 2px;
    background: $c_black;
    border-radius: 10px;

    &:before,
    &:after {
      position: absolute;
      display: block;
      border-radius: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $c_black;
      content: "";
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

    span {
    	transition: all 0.3s;
  	
  		&:before {
  			transform-origin: top left;
  			transition: transform 0.3s, width 0.3s, top 0.3s;
  		}

  		&:after {
  			transform-origin: bottom left;
  			transition: transform 0.3s, width 0.3s, bottom 0.3s;
  		}
  	}
}

/* active state, i.e. menu open */
nav[data-state="open"] {
	.cmn-toggle-switch {
		span {
			transform: rotate(180deg);
       background-color: $c_white;

			&:before,
			&:after { width: 50%; }

			&:before {
				top: 0;
				transform: translateX(-3px) translateY(1px) rotate(-45deg);
        background-color: $c_white;
			}

			&:after {
				bottom: 0;
				transform: translateX(-3px) translateY(-1px) rotate(45deg);
        background-color: $c_white;
			}
		}
	}
}


nav[data-state="open"] {
	#site_menu {
		transform: translateX(0);
    left: 0;
	}
}