#projects {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		li:last-child {
			margin: 9rem 0 0 0;
			text-align: center;

			a {
				text-decoration: none;
				color: $c_grey;
				font-family: $f_mono;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.project-card {
		width: 70rem;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 9rem 0 0 0;
		text-align: center;
		
		a {
			text-decoration: none;
			color: $c_black;
			position: relative;
		}

		&[aria-hidden="true"] {
			opacity: 0;
			visibility: hidden;
			display: none !important;
			padding: 0;
			margin: 0 !important;
		}
	}

	.project-description {
		padding: 3rem 0 0 0;

		h2 {
			font-size: 2.1rem;
			font-weight: $f_bold;
			margin-bottom: 0.75rem;
		}
	}
}

#lede {
	display: flex;
	flex-wrap: wrap;

	h1 { flex: 1 1 100%; }

	div { 
		&:last-of-type {
			span:nth-child(odd) { margin-top: 2rem; }
		}
	}
	
	@media only screen and (min-width: $mq_tween) {
		div { 
			&:first-of-type {
				padding-right: 2rem;
				flex: 0 0 60%;
			}

			&:last-of-type {
				flex: 0 0 40%;
				span:first-child { margin-top: 0; }
			}
		}
	}
}