#social {
	display: block;
	text-align: center;

	.software-icon {
		height: 2.4rem;
		max-width: 2.4rem;

		&.linkedin {
			border-radius: 0.35rem;
			background: white;
		}

		&.codepen {
			fill: $c_white;
			stroke-width: 0.7;
			stroke: $c_black;
		}

		&.pinterest {
			border-radius: 100%;
			background: #ca1f26;
		}
	}

	li {
		display: inline-block;
		line-height: 1;
		vertical-align: middle;
		margin-top: 0;
	}

	a {
		display: block;
		padding: 0 2rem;
	}
}