$f_system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$c_white: #FFF;
$c_black: #333;
$c_grey: #888;
$c_ltgrey: #DDD;

$c_red: #e01f3d;
$c_teal: #0083a5;

$c_dribbble: #ea4c89;

$f_light: 300;
$f_normal: 400;
$f_bold: 600;
$f_bolder: 700;

$mq_medium: 600px;
$mq_large: 1000px;