<nav id="social-links">
  <span>Elsewhere online</span>
  <ul>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/rcyou/" target="none" aria-label="What I'm talking about on LinkedIn" title="linkedin">
        {% include "./partials/svg-linkedin.liquid" %}
      </a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/rcyou" target="none" aria-label="What I'm coding on GitHub" title="github">
        {% include "./partials/svg-github.liquid" %}
      </a>
    </li>
    <li>
      <a class="social-link" href="https://open.spotify.com/user/rcyou" target="none" aria-label="What I'm listening to on Spotify" title="spotify">
        {% include "./partials/svg-spotify.liquid" %}
      </a>
    </li>
    <li>
      <a class="social-link" href="#" target="none" aria-label="What I'm reading on Fable" title="Fable">
        {% include "./partials/svg-fable.liquid" %}
      </a>
    </li>
  </ul>
</nav>
<span id="copyright">&copy {{ 'now' | date: "%Y" }} / designed &amp; coded by <b>Ryan Young</b>.</span>