<section id="testimonials" class="page-margin contained">
    <div class="section-header">
        <h2>Nice things people have said</h2>
    </div>

    <figure class="testimonial">
    	<blockquote>
    		“Ryan’s an excellent design leader, mentor, teammate, and human.”
    	</blockquote>
    	<figcaption>
    		<img src="{{ '/images/testimonials/ferris.jpg' | url }}" loading="lazy">
    		<cite class="attestant-details">
    			<span class="attestant-name">
    				Kayla Ferris
    			</span>
    			<span class="attestant-role">
    				UX &amp; Product Designer at P3+Uplift
    			</span>
    		</cite>
    	</figcaption>
    </figure>

    <figure class="testimonial">
    	<blockquote>
    		“I'd hire Ryan again in a heartbeat, and believe he has potential to be a good team lead or manager in the future.”
    	</blockquote>
    	<figcaption>
    		<img src="{{ '/images/testimonials/downing.jpg' | url }}" loading="lazy">
    		<cite class="attestant-details">
    			<span class="attestant-name">
    				Kathryn Downing
    			</span>
    			<span class="attestant-role">
    				Sr. UX Design Manager at Gap
    			</span>
    		</cite>
    	</figcaption>
    </figure>

    <figure class="testimonial">
    	<blockquote>
    		“Ryan is someone you can build a team around. He will make the others around him better and never stop working on changing the products he touches for the better.”
    	</blockquote>
    	<figcaption>
    		<img src="{{ '/images/testimonials/fjellman.jpg' | url }}" loading="lazy">
    		<cite class="attestant-details">
    			<span class="attestant-name">
    				Keith Fjellman
    			</span>
    			<span class="attestant-role">
    				Sr. UX Design Lead & Manager at U.S. Bank
    			</span>
    		</cite>
    	</figcaption>
    </figure>

    <figure class="testimonial">
    	<blockquote>
    		“Ryan is a rare find! I have learned so much from him about how UX should actually work - from discovery, to user research and testing, to best practices, to producing beautiful and accessible designs.”
    	</blockquote>
    	<figcaption>
    		<img src="{{ '/images/testimonials/moran.jpg' | url }}" loading="lazy">
    		<cite class="attestant-details">
    			<span class="attestant-name">
    				Molly Moran
    			</span>
    			<span class="attestant-role">
    				Lead Front End Developer at Wonderlic
    			</span>
    		</cite>
    	</figcaption>
    </figure>

</section>