<section id="work-experience" class="page-margin contained">
    <div class="section-header">
        <h2>Experience</h2>
    </div>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">March 2023 to Present</span>
        <div class="employer-role">
            <h3 class="role-heading">Director of Product Design</h3>
            <span class="small-text-14 business-name">P3+Uplift</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">1300 Walnut Street, Suite 200, Des Moines, Iowa 50309</span>
            <span class="small-text-14 phone">+1 (515) 207-9789</span>
        </div>
        <details open>
            <summary>
                description
            </summary>
            <p>I coach a small team of User Experience & Product design consultants, in addition to serving as an individual contributor within various cross-functional teams that deliver innovative tech solutions for clients in the agricultural, insurance, finance, and healthcare industries.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">May 2022 to March 2023</span>
        <div class="employer-role">
            <h3 class="role-heading">Senior UX Designer</h3>
            <span class="small-text-14 business-name">Two Rivers Marketing</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">106 E 6th Street, Des Moines, Iowa 50309</span>
            <span class="small-text-14 address">+1 (515) 557-2000</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>I led the User Experience practice for a full-service B2B marketing agency. Primarily focused on developing UX, discovery, and design thinking offerings for a variety of clients, mainly in the industrial, construction, and technology industries. I led discovery projects and proof-of-concept initiatives for new business, and worked with other agency disciplines on journey mapping, service design, user experience design, accessibility standards, and UI design activities.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">March 2021 to May 2022</span>
        <div class="employer-role">
            <h3 class="role-heading">UI/UX Designer</h3>
            <span class="small-text-14 business-name">Hy-Vee</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">5820 Westown Pkwy, West Des Moines, Iowa 50266</span>
            <span class="small-text-14 address">+1 (515) 267-2800</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>Shepherded design and accessibility efforts for a united business-name design system that prioritized accessibility, fostered collaboration, and increased efficiency for teams building digital products. Also led UX and design for a universal navigation header on all customer-facing websites.</p>
            <p>As a UI/UX designer on cross-functional teams at Hy-Vee, I created and tested wireframes, interface designs, and interactive prototypes for features and products — spanning early stage concepts to official launch. I worked closely with developers to ensure quality and accessibility, strictly adhering to WCAG standards. I also planned and conducted qualitative and quantitative user research to identify areas for improvement and refine problem statements. </p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">January 2019 to March 2021</span>
        <div class="employer-role">
            <h3 class="role-heading">Experience Designer</h3>
            <span class="small-text-14 business-name">Accenture</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">1420 Locust Street, Suite 200, Des Moines, Iowa 50309</span>
            <span class="small-text-14 address">+1 (888) 374-5527</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>As a UI & UX designer on cross-functional Agile teams, I translated broad ideas and business requirements into design flows and practical user interfaces, adhering to accessibility best practices and WCAG standards. Through quick prototypes, I gathered feedback on ideas and concepts in order to align everyone on goals and inspire stakeholders. Collaboration with developers and project managers was fundamental, as well as being able to execute within unknown or vague boundaries.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">February 2014 to December 2018</span>
        <div class="employer-role">
            <h3 class="role-heading">Project Lead</h3>
            <span class="small-text-14 business-name">Visionary Services</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">300 E Locust Street, Suite 250, Des Moines, Iowa 50309</span>
            <span class="small-text-14 address">+1 (515) 369-3545</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>Worked as designer, front end developer, and project manager for roughly 3-6 concurrent small business projects at any given time. On larger team projects, duties relegated to specifically design or front end development.</p>
            <p>Oversaw projects from start to finish, including pre-sales pitch meetings and final project launch, focusing on accessibility and performance. Frequently collaborated with developers to clarify and enhance design of final product.</p>
        	<p>Design duties include facilitating design meetings and brainstorm sessions with team or clients, wireframing important tools and user flows, user interface design, creating HTML prototypes, and designing to WCAG standards. In many cases, responsible for turning finalized design into front end code.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-12 mono">July 2011 to February 2014</span>
        <div class="employer-role">
            <h3 class="role-heading">Graphic Designer</h3>
            <span class="small-text-14 business-name">ABC Sign & Display</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-14 address">3300 101st Street Urbandale, Iowa 50322</span>
            <span class="small-text-14 address">+1 (515) 270-8200</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>Created designs for a variety of client projects, including apparel, marketing materials, building signage, vehicle wraps, and commemorative coins. Also designed logos for startup and rebranded businesses. Worked closely with sales staff to understand full scope of design needs and collaborated with production crew to fulfill vision for design concepts.</p>
        </details>
    </section>
    
</section>