---
layout: layouts/tpl.liquid
seoTitle: About Me
metaDescription: Ryan Young is a UX (user experience) &amp; product design leader who works with developers, product teams, and business leaders to create human-centered products.
primaryTitle: About Ryan Young
ogImagePath: '/images/og-image-about.jpg'
date: Last Modified
---
<figure class="no-margin js-reveal">
    <img class="no-margin" src={{ "/images/ry-about-photo.jpg" | url }} alt="a portrait of Ryan in front of a street art mural in Des Moines">
</figure>

<section id="intro" class="page-margin contained js-reveal">
    <h1>{{ primaryTitle }}</h1>
    <p>I'm Ryan (he/him), Sr. Director of Product & Design at P3+Uplift in Des Moines, Iowa. Certified in <a href="https://www.scrum.org/user/1667714" target="_blank">Professional Scrum Product Ownership (PSPO II)</a> and <a href="https://www.ooux.com/people/ryanyoung" target="_blank">Object-Oriented UX (OOUX)</a>, I've always lived at the intersection of user experience (UX) &amp; product. That combination doesn't always fit neatly on an org chart, but it's where I'm most effective.</p>

    <p>At my core, I'm a builder with a product mindset. I've led user research, concept testing, feature validation, and early requirements definition across projects in agriculture, manufacturing, insurance, finance, and healthcare. I've intentionally developed technical skills that let me build alongside engineers, working with the command line (CLI), GitHub, and modern web tooling so I can collaborate as a peer&mdash;not be a middleman. I care about what's viable as much as what's desirable, and I know how to move an idea from discovery to shipped.</p>

    <p>Outside of work, I stay connected to the local startup &amp; design community, speaking at meetups, organizing events, and building relationships with founders, leaders, and individual contributors in the area. I also <a href="https://iowajpec.org/vms-mentors#:~:text=RYAN%20YOUNG" target="_blank">serve as a mentor</a> through the University of Iowa JPEC's Venture Mentoring Service and have been a guest on several podcasts covering design, product, and leadership.</p>

    <p>When I'm not doing that, I'm either coaching my kids' activities or <a href="https://fable.co/fabler/ryan-young-878662177617?tab=stats" target="_blank">working through a stack of "dad books"</a> about business, self-improvement, or the occasional deep dive into whatever I'm trying to figure out next.</p>

</section>

{% include "./partials/work-experience.liquid" %}

{% include "./partials/testimonials.liquid" %}

{% include "./partials/clifton-strengths.liquid" %}

<figure id="squiggle" class="med page-margin contained js-reveal">
    <img class="darken" src={{ "/images/creative-process.gif" | url }} alt="an animated scribble showing how solving problems is inherently messy before finding a clear solution">
    <figcaption class="small-text-14 mono caption">
        My Creative Process. Drawn in Adobe Illustrator. Animated in After Effects. <br/>Shoutout to Damien Newman, originator of <a href="https://thedesignsquiggle.com/" target="blank" title="A simple illustration of the design process">The Squiggle</a>
    </figcaption>
</figure>

{% include "./partials/podcasts.liquid" %}