---
layout: layouts/tpl.liquid
seoTitle: About Ryan Young - UX Designer in Des Moines, Iowa
metaDescription: Ryan Young is a UX (user experience) design leader who works with developers, product teams, and business leaders to create human-centered products.
primaryTitle: About Ryan Young
---
<figure class="no-margin">
    <img class="no-margin" src={{ "/images/ry-about-photo.jpg" | url }} alt="a portrait of Ryan in front of a street art mural in Des Moines">
</figure>

<section id="intro" class="page-margin contained">
    <h1>{{ primaryTitle }}</h1>
    <p>I'm Ryan (he/him), a designer from Des Moines, Iowa. I like to nerd out about many UX-related topics, like behavioral psychology and color constancy. I'm a <a href="https://www.ooux.com/people/ryanyoung" target=_blank>certified Object Oriented UX (OOUX) strategist</a>, which is just one tool I use to unite cross-functional teams during projects.</p>
    <p>I also <a href="https://iowajpec.org/vms-mentors#:~:text=RYAN%20YOUNG" target="_blank">serve as a mentor</a> through the University of Iowa JPEC's Venture Mentoring Service. Design coaching and mentorship has been a consistent thread throughout my career. I have headed committees, spoken at events, and co-organized meetups.</p>
    <p>I have extensive working experience with HTML and CSS, in addition to CSS pre-processors like Sass. I also know enough JavaScript to be (harmlessly) dangerous. Though these front-end skills serve me well in striking a balance between feasible and innovative experiences, design is first and foremost my one true love.</p>
</section>

<figure class="med page-margin contained">
    <img class="darken" src={{ "/images/creative-process.gif" | url }} alt="an animated scribble showing how solving problems is inherently messy before finding a clear solution">
    <figcaption class="small-text-14 mono caption">
        My Creative Process. Drawn in Adobe Illustrator. Animated in After Effects. <br/>Shoutout to Damien Newman, originator of <a href="https://thedesignsquiggle.com/" target="blank" title="A simple illustration of the design process">The Squiggle</a>
    </figcaption>
</figure>

{% include "./partials/work-experience.liquid" %}

{% include "./partials/clifton-strengths.liquid" %}

{% include "./partials/testimonials.liquid" %}

{% include "./partials/podcasts.liquid" %}