---
layout: layouts/tpl.liquid
seoTitle: Welcome!
metaDescription: Ryan Young is a UX design leader in Des Moines, Iowa. Ryan is currently Sr. Director of Product Design at a software consultancy called P3+Uplift.
pageKey: home
primaryTitle: Ryan Young
personalDescription: Ready to help teams &amp; business leaders turn big ideas into user-centered products.
---
<section id="lede" class="page-margin">
	<h1 >
		{{ primaryTitle }}
		<span>{{ personalDescription }}</span>
	</h1>
</section>

{% include "./partials/podcasts.liquid" %}

{% include "./partials/project-list.liquid" %}

<section id="testimonials" class="page-margin contained">
    <figure class="testimonial">
    	<blockquote>
    		“Ryan has a human-centered approach to his problem solving, deftly bridging the needs of customers with the needs of a high performing technical team.”
    	</blockquote>
    	<figcaption>
    		<img src="{{ '/images/testimonials/jharr.jpg' | url }}" loading="lazy">
    		<cite class="attestant-details">
    			<span class="attestant-name">
    				Jeremy Harrington
    			</span>
    			<span class="attestant-role mono">
    				AVP at Principal Financial Group
    			</span>
    		</cite>
    	</figcaption>
    	<p class="cta-btn no-padding-l no-padding-r"><a href={{ "/about/#testimonials" | url }}>See what others have said</a></p>
    </figure>
</section>

<section id="bio" class="page-margin contained">
	<p class="big-text-20"><b>I'm Ryan Young (he/him):</b> Sr. Director of Product &amp; Design at P3+Uplift in Des Moines, Iowa. I’m also a <a href="https://www.ooux.com/people/ryanyoung" target=_blank>certified OOUX strategist</a> and an active mentor and community contributor. I like to geek out about everything from behavioral psychology to front-end code, but what I enjoy most is connecting the dots across teams, tools, and disciplines.</p>
</section>