@use 'variables' as *;

#blog {
	width: 100%;
	margin: 0;
	position: relative;
	
	#post-list {
		list-style: none;
		margin: 4rem 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.post-list-item {
			width: 100%;
			flex: 1 0 100%;
			margin-bottom: 0;
			border-bottom: 1px solid $c_super_ltgrey;

			&:last-child { border-bottom: none; }
		}
	}

	.post-card {
		width: 100%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-decoration: none;
		color: $c_black;
		font-weight: normal;
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;
	}

	.post-title {
		margin-bottom: 1.6rem;
	}

	ul {
		margin-top: 2.4rem;
		margin-bottom: 2.4rem;

		li {
			margin-bottom: 0.8rem;
			&:has(p) {
				margin-bottom: 2.4rem;
				
				p { margin-top: 0.8rem; }
			}
		}
	}
}

h2 + h3 {
	margin-top: 2rem;
}