@use 'variables' as *;

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 6.4rem;
	margin-bottom: 0;
	padding:0 0 2.4rem;

    @media only screen and (min-width: $mq_large) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      max-width: 100rem;
      margin-top: 16rem;
      gap: 2rem;
  }
}

#social-links {
	width: auto;

	span {
		font-size: 1.8rem;
		font-weight: $f_semibold;
		color: $c_drkgrey;
		display: block;
		line-height: 1;
		text-align: center;
		margin-bottom: 2.4rem;

		@media only screen and (min-width: $mq_large) {
			text-align: left;
		}
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 1.6rem;

		@media only screen and (min-width: $mq_large) {
			margin-left: -1.2rem;
		}
	}

	li {
		display: flex;
		margin-bottom: 0;
		padding: 0.4rem;

		@media only screen and (min-width: $mq_medium) {
			padding: 1.2rem
		}


		.social-link {
			display: block;
			height: 3.2rem;
			width: 3.2rem;
			flex: 0 0 3.2rem;

			&:focus, &:hover {
				outline-offset: 0.3rem;
			}

			* { transition: all 100ms ease-in-out; }

			@media only screen and (min-width: $mq_tween) {
				height: 2.8rem;
				width: 2.8rem;
				flex: 0 0 2.8rem;
			}
		}
	}
}

#github {
	path {
		fill: $c_black;

		a:focus-visible &,
		a:hover & {
			fill: #512a97;
		}
	}
}

#linkedin {
	path {
		fill: $c_black;

		a:focus-visible &,
		a:hover & {
			fill: #0a66c2;
		}
	}
}

#spotify {
	path {
		fill: $c_black;

		a:focus-visible &,
		a:hover & {
			fill: #1ed760;
		}
	}
}

#fable {
	#shape { fill: $c_black; }

	a:focus-visible &,
	a:hover & {
		#shape {
			fill: #042119;
		}
		#red { fill: #D12E2E; }
		#pink { fill: #E979C4; }
		#yellow { fill: #F2D63F; }
		#orange { fill: #FF916F; }
		#green { fill: #81BA6D; }
		#blue { fill: #43A1D7; }
		#indigo { fill: #4252F1; }
	}
}

#rss {
	.symbol {
		stroke: none;
		fill: $c_white;
	}

	rect {
		fill: $c_black;

		a:focus-visible &,
		a:hover & {
			fill: #fe6500;
		}
	}
}

#medium {
	path { fill: $c_white; }

	rect {
		fill: $c_black;

		a:focus-visible &,
		a:hover & {
			fill: $c_grey;
		}
	}
}



#copyright {
	color: $c_grey;
	font-size: 1.4rem;
	margin: 2.4rem 0 1.6rem 0;
	text-align: center;

	@media only screen and (min-width: $mq_large) {
		margin: 0;
		text-align: right;
	}
}