@use 'variables' as *;

#podcast-list {
	list-style: none;
	margin: 0;
	padding: 2.4rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem; 

	
	#home & {
		@media only screen and (min-width: $mq_medium) {
			flex-direction: row;
			justify-content: space-between;

			li { flex: 1 1 calc(50% - 1rem); }
		}
	}

	li {
		margin-bottom: 0;
		flex: 1 0 100%;

		iframe { display: block; }
	}
}

.podcast-card {
	text-decoration: none;
	display: flex;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 1px solid $c_super_ltgrey;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	transform: scale(1);
	transition: all 150ms ease-in-out;

	&:hover {
		transform: scale(1.02);
		border: 1px solid $c_ltgrey;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	}

	&:focus {
		outline-width: 2px;
		outline-offset: .4rem;
	}

	img {
		flex: 0 0 14rem;

		@media only screen and (min-width: $mq_medium) {
			flex: 0 0 9rem;
		}
	}

	.podcast-info {
		padding: 0.8rem 1.6rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 100%;
	}

	.show-name {
		color: $c_black;
		font-size: 2rem;
		line-height: 1.35;

		@media only screen and (min-width: $mq_medium) {
			font-size: 1.6rem;
		}
	}

	.listen-link {
		text-align: right;

		.material-icons {
			font-size: 1.8rem;
			vertical-align: text-top;
		}
	}
}