@use 'variables' as *;

#projects {
	max-width: 100rem;
	position: relative;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media only screen and (min-width: $mq_tween) {
			align-items: stretch;
			justify-content: flex-start;
		}
	}

	.project-card {
		max-width: 66rem;
		width: 100%;
		margin: 2.4rem 0;
		display: flex;

		@media only screen and (min-width: $mq_tween) {
			flex: 0 1 calc(50% - 1.2rem);

			&:nth-child(odd) { margin-right: 1.2rem; }
			&:nth-child(even) { margin-left: 1.2rem; }
		}
		
		a {
			text-decoration: none;
			color: $c_black;
			font-weight: $f_normal;
			position: relative;
			border-radius: 0.8rem;
			overflow: hidden;
			border: 1px solid $c_super_ltgrey;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
			transform: scale(1) translate(0,0);
			transition: all 250ms cubic-bezier(0.25, 1.0, 0.30, 1.0);
			backface-visibility: hidden;


			&:hover {
				transform: scale(1.02) translate(0, -0.4rem);
				border-color: $c_ltgrey;
				box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
				backface-visibility: hidden;
			}

			&:focus {
				outline-width: 2px;
				outline-offset: .4rem;
				border-color: $c_ltgrey;
				box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.01);
			}

			img { width: 100%; }
		}

		&[aria-hidden="true"] {
			opacity: 0 !important;
			visibility: hidden !important;
			display: none !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	}

	.cta-card {
		a {
			border: 2px dashed $c_super_ltgrey;

			&:hover,
			&:focus {
				border: 2px dashed $c_ltgrey;
				.project-description {
					background: rgba(255,255,255,0.45);
				}
			}
		}

		.project-description {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 3.2rem;
			transition: all 500ms cubic-bezier(0.25, 1.0, 0.30, 1.0);

			background: linear-gradient(to top left, rgba(238,241,246,0.75), rgba(255,255,255,0.25));
			backdrop-filter: blur(3rem);
		}

		.project-name,
		.project-summary { text-align: center; }

		.cta-btn {
			line-height: 1.25;

			&:before {
				content: "mail_outline";
				font-family: 'Material Icons';
				font-size: 2.1rem;
				font-weight: $f_normal;
				line-height: 0;
				vertical-align: middle;
				margin-right: 0.4rem;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.project-description {
		padding: 2.4rem;
		background-color: $c_white;
	}

	.project-name {
		font-size: 2.4rem;
		font-weight: $f_bold;
		margin: 0.8rem 0;
	}

	.project-summary {
		margin: 0;
		color: $c_drkgrey;
	}
}