@use 'variables' as *;

.staticrypt-hr {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border: 0;
    border-top: 1px solid $c_super_ltgrey;
}

.staticrypt-page {
    max-width: 48rem;
    padding-top: 10rem;
    margin: auto;
    box-sizing: border-box;
}

.staticrypt-form {
    position: relative;
    z-index: 1;
    background: $c_white;
    margin: 0 auto 10rem;
    padding: 4rem;
    text-align: center;
    border: 1px solid $c_super_ltgrey;
    border-radius: 0.8rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.staticrypt-form input[type="password"],
input[type="text"] {
    background: $c_super_ltgrey;
    border: 1px solid $c_ltgrey;
    font-size: 1.6rem;
    padding: 1.2rem 3.2rem 1.2rem 1.2rem;
    /* Adjust the padding to ensure there is space for the icon */
    width: 100%;
}

.staticrypt-form input[type="password"]:focus,
input[type="text"]:focus {
    outline-color: $c_links;
    outline-width: 2px;
    outline-offset: 0.4rem;
    background-color: $c_white;
    border: 1px solid $c_grey;
}

.staticrypt-password-container {
    position: relative;
    outline: 0;
    background: $c_white;
    width: 100%;
    border: 0;
    margin-bottom: 2rem;
}

.staticrypt-toggle-password-visibility {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    opacity: 0.6;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.staticrypt-form .staticrypt-decrypt-button {
    font-family: $f_inter;
    font-weight: $f_semibold;
    outline: 0;
    background: $c_links;
    border: 1px solid navy;
    border-radius: 0.5rem;
    padding: 1.2rem 2rem;
    color: $c_white;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
}

.staticrypt-form .staticrypt-decrypt-button:hover,
.staticrypt-form .staticrypt-decrypt-button:active,
.staticrypt-form .staticrypt-decrypt-button:focus {
    background: $c_links;
    filter: saturate(60%);
}

.staticrypt-form .staticrypt-decrypt-button:focus {
    outline: 2px solid $c_links;
    outline-offset: 0.2rem;
}

.staticrypt-html {
    height: 100%;
}

.staticrypt-body {
    height: 100%;
    margin: 0;
}

.staticrypt-content {
    height: 100%;
    margin-bottom: 2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background: $c_bg;
}

.staticrypt-title {
    font-size: 2.4rem;
    font-weight: $f_semibold;
    line-height: 1;
}

label.staticrypt-remember {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 0.4rem;
}

.staticrypt-remember input[type="checkbox"] {
    margin-right: 0.8rem;
}

.staticrypt-remember input[type="checkbox"]:focus {
    outline-color: $c_links;
    outline-width: 0.5px;
    outline-offset: 0.3rem;
}

.hidden {
    display: none !important;
}

.staticrypt-spinner-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staticrypt-spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid $c_grey;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spinner-border;
}

@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .staticrypt-form input[type="password"],
    input[type="text"] {
        font-size: 1.6rem;
    }
}