@use 'variables' as *;

.testimonial {
	padding: 2.4rem 0;
	border-bottom: 1px solid $c_super_ltgrey;

	&:last-of-type { border-bottom: none; }

	&:only-child {
		border-top: 1px solid $c_super_ltgrey;
		border-bottom: 1px solid $c_super_ltgrey;
	}

	blockquote {
		line-height: 1.5;
		font-size: 2.4rem;
		margin-bottom: 2.4rem;
	}

	figcaption {
		display: flex;
		align-items: center;
		gap: 1.6rem;

		img {
			height: 5.6rem;
			width: 5.6rem;
			margin: 0;
			border-radius: 100%;

			@media only screen and (min-width: $mq_medium) {
				height: 8rem;
				width: 8rem;
			}
		}
	}

	.cta-btn {
		&:hover, &:focus {
			color: $c_drkgrey;
		}
	}

}

.attestant-details {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	flex: 1 1 100%;
	font-style: normal;
}

.attestant-name {
	font-weight: $f_bold;
	color: $c_black;
}

.attestant-role {
	font-size: 1.4rem;
	color: $c_grey;
}