@use 'variables' as *;

.emoji {
	line-height: 1;
	display: inline-block;
}

.material-icons {
	vertical-align: top;
	display: inline-block;
}

.cta-btn {
	font-size: 1.8rem;
	font-family: $f_inter;
	font-weight: $f_semibold;
	border: none;
	background-color: transparent;
	color: $c_links;
	border-radius: 0.5rem;
	padding: 1.6rem 2.4rem;
	line-height: 1.25;
			
		&:before {
			content: "arrow_forward";
			font-family: 'Material Icons';
			font-size: 2.1rem;
			font-weight: $f_normal;
			line-height: 0;
			vertical-align: sub;
			margin-right: 0.4rem;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
}

.page-margin {
	margin-right: 1.6rem;
	margin-left: 1.6rem;

	@media only screen and (min-width: $mq_tween) {
		margin-left: 2.4rem;
		margin-right: 2.4rem;
	}

	@media only screen and (min-width: $mq_large) {
		margin-left: auto;
		margin-right: auto;
	}
}

.no-margin {
	margin: 0;

	& img { width: 100%; }
}

.no-padding {
	&-l { padding-left: 0; }
	&-r { padding-right: 0; }
}

.contained {
	max-width: 100%;
	
	@media only screen and (min-width: $mq_medium) {
		max-width: 66rem;
		width: 100%;

		#home & { max-width: 100rem; }
	}
}

.large {
	width: auto;
	max-width: $mq_large;
}

.med {
	width: auto;
	max-width: $mq_medium;
}

.small {	

	@media only screen and (min-width: $mq_tween) {
		max-width: $mq_small;
	}	
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	@media only screen and (min-width: $mq_medium) {
		gap: 5.6rem;
	}
}

#lede {
	margin-top: 4rem;

	h1 {
		font-weight: $f_bold;
	}

	.summary {
		color: $c_drkgrey;
	}
}


.big-text {
	&-20 {
		font-size: 2rem;
		font-weight: $f_normal;

		& a { font-weight: $f_semibold; }
	}
}

.small-text {

	&-14 {
		font-size: 1.4rem;
		font-weight: $f_normal;
		color: $c_grey;
	}

	&-12 {
		font-size: 1.2rem;
		font-weight: $f_normal;
		color: $c_grey;
	}
}

.mono {
	font-family: $f_mono;

	&.eyebrow {
		display: block;
		margin-bottom: 1.2rem;
		line-height: 1;
	}
}

#home #lede {
	max-width: 100rem;
	width: auto;

	h1 {
		font-weight: $f_bold;

		> span {
			display: block;
			font-size: 3.2rem;
			font-weight: $f_light;
			letter-spacing: -0.2px;
			color: $c_grey;
			margin: 2rem 0;
			width: 75%;
		}
	}
}

// if a heading comes after a paragraph
// this should only happy in Reflections and Learnings
p + h2 { margin-top: 2rem; } 

.round-card {
	background: $c_white;
	border-radius: 0.8rem;
	border: 1px solid $c_ltgrey;
	padding: 1.2rem;
}

.rounded {
	border-radius: 0.4rem;
	@media only screen and (min-width: $mq_medium) {
		border-radius: 0.8rem;
	}
}


ul, ol {
	&.callout-list {
		list-style: none;

		li {
			display: flex;
			margin-top: 3.2rem;

			&:before {
				content: attr(data-content);
				color: $c_black;
				font-family: $f_inter;
				font-weight: $f_semibold;
				font-size: 2.4rem;
				margin-right: 2rem;
				width: 5.6rem;
				flex: 0 0 5.6rem;
			}
		}

		&.emoji-list {
			margin-left: 0;
			li {
				align-items: flex-start;

				@media only screen and (min-width: $mq_medium) {
					align-items: center;
				}
				
				&:before {
					content: attr(data-content);
					color: $c_black;
					font-family: $f_inter;
					font-weight: $f_medium;
					line-height: 1;
					font-size: 2.8rem;
					margin-right: 1.6rem;
					margin-top: 0.8rem;
					width: 2.8rem;
					flex: 0 0 2.8rem;

					@media only screen and (min-width: $mq_medium) {
						margin-right: 2rem;
						margin-top: 0;
						font-size: 4rem;
						width: 4rem;
						flex: 0 0 4rem;
					}
				}
			}
		}
	}
}

ol.big-number-list {
  list-style: none;
  display: block;
  counter-reset: my-awesome-counter;

  @media only screen and (min-width: $mq_medium) {
  	margin-left: 0;
  }

  li {
    counter-increment: my-awesome-counter;
    display: flex;
    margin-top: 3.2rem;

    &:before {
		content: counter(my-awesome-counter);
		color: $c_black;
		font-family: $f_inter;
		font-weight: $f_bold;
		font-size: 2.4rem;
		margin-right: 2.4rem;
	}
  }
}

.summary-list {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;

	.bullet-list {
		margin: 0;	
		list-style-position: inside;

		@media only screen and (min-width: $mq_small) {
			&:has(> :nth-child(3)) {
				column-count: 2;
				column-gap: 0.8rem;
			}
		}

		@media only screen and (min-width: $mq_medium) {
			&:has(> :nth-child(3)) {
				column-count: 3;
			}
		}

		li {
			margin-bottom: 1.2rem;
			line-height: 1;
		}
	}
}