<header class="page-margin">
    <nav>
        <ul id="site_menu">
            <li>
                <a id="projects_link" href={{ "/" }} aria-label="Return to homepage">Projects</a>
            </li>
            <li>
                <a id="about_link" href="/about" aria-label="Ryan Young's Bio and Resume">About</a>
            </li>
            <li>
                <a href="mailto:ryan.young@p3uplift.com?subject=Saw%20Your%20Site—Let’s%20Talk" aria-label="Email Ryan Young">Contact</a>
            </li>
            <li>
                <a id="blog_link" href="/posts/">Blog</a>
            </li>
        </ul>
    </nav>
    <aside>
        <a id="logo" href={{ "/" }} title="return to homepage" aria-label="return to homepage">
            <svg id="personal-logo"><use xlink:href="#ry-logo"></use></svg>
        </a>
        <div>
            <span id="name">Ryan Young</span>
            <span id="headline" class="small-text-14 mono">User Experience Designer in Des Moines, Iowa</span>
        </div>
    </aside>
</header>