<section id="podcasts" class="page-margin contained"> 
    <div class="section-header">
        <h2>Podcasts</h2>
    </div>
    <ul id="podcast-list">
        <li>
            <iframe loading="lazy" style="border-radius:12px" src="https://open.spotify.com/embed/episode/4a1n1crMmVYbs1oIebb8Fu?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>

        <li>
            <iframe loading="lazy" style="border-radius:12px" src="https://open.spotify.com/embed/episode/0QAk2Qu6GeggCWJwPYhNg6?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
    </ul>

    <!--
    <ul id="podcast-list">
        <li>
            <a class="podcast-card" target="none" href="https://roads.libsyn.com/ramblings-of-a-designer-eps-154-ryan-young" title="Ramblings of a Designer eps. 154 - Ryan Young">
                <img src="https://placehold.co/90x90">
                <div class="podcast-info">
                    <span class="episode small-12 mono">Episode 154</span>
                    <h3 class="show-name">Ramblings of a Designer</h3>
                    <span class="listen-link">
                        <span class="material-icons">headphones</span>
                        Listen
                    </span>
                </div>
            </a>
        </li>

        <li>
            <a class="podcast-card" target="none" href="https://www.theuxgrowth.com/episodes/ryanyoung" title="UX Growth Podcast, s3 eps. 9 - Ryan Young">
                <img src="https://placehold.co/90x90">
                <div class="podcast-info">
                    <span class="episode small-12 mono">Season 3, Episode 9</span>
                    <h3 class="show-name">UX Growth Podcast</h3>
                    <span class="listen-link">
                        <span class="material-icons">headphones</span>
                        Listen
                    </span>
                </div>
            </a>
        </li>
    </ul>
    -->
</section>