<section id="podcasts" class="page-margin contained"> 
    <div class="section-header">
        <h2>Podcast appearances</h2>
    </div>
    <ul id="podcast-list">
        <li>
            <iframe height="175" width="100%" title="Media player" src="https://embed.podcasts.apple.com/us/podcast/ramblings-of-a-designer-eps-154-ryan-young/id1612543622?i=1000647195417&amp;itscg=30200&amp;itsct=podcast_box_player&amp;ls=1&amp;mttnsubad=1000647195417&amp;theme=light" id="embedPlayer" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *; clipboard-write" style="border: 0px; border-radius: 12px; width: 100%; height: 175px; max-width: 660px;"></iframe>
        </li>
        <li>
            <iframe height="175" width="100%" title="Media player" src="https://embed.podcasts.apple.com/us/podcast/ooux-strategies-with-ryan-young/id1643822450?i=1000647489913&amp;itscg=30200&amp;itsct=podcast_box_player&amp;ls=1&amp;mttnsubad=1000647489913&amp;theme=light" id="embedPlayer" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *; clipboard-write" style="border: 0px; border-radius: 12px; width: 100%; height: 175px; max-width: 660px;"></iframe>
        </li>
    </ul>
</section>