<section id="work-experience" class="page-margin contained">
    <div class="section-header">
        <h2>Experience</h2>
    </div>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">March 2023 to Present</span>
        <div class="employer-role">
            <h3 class="role-heading">Sr. Director of Product &amp; Design</h3>
            <span class="small-text-16 business-name">P3+Uplift</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">1300 Walnut Street, Suite 200, Des Moines, Iowa 50309</span>
            <span class="small-text-16 phone">+1 (515) 207-9789</span>
        </div>
        <details open>
            <summary>
                description
            </summary>
            <p>
                <b>Sr. Director of Product &amp; Design</b>
                <span class="eyebrow small-text-14 mono">April 2025 to Present</span>
                <b>Director of Product Design</b>
                <span class="eyebrow small-text-14 mono">March 2023 to April 2025</span>
            </p>
            <p>I lead &amp; mentor a team of UX & Product design consultants while actively contributing to cross-functional client projects across industries like Agtech, Insurtech, finance, &amp; healthcare. Beyond project team delivery, I'm deeply involved in business development, company strategy, and applying product principles to drive both internal growth, as well as client success.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">May 2022 to March 2023</span>
        <div class="employer-role">
            <h3 class="role-heading">Senior UX Designer</h3>
            <span class="small-text-16 business-name">Two Rivers Marketing</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">106 E 6th Street, Des Moines, Iowa 50309</span>
            <span class="small-text-16 address">+1 (515) 557-2000</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>I led the User Experience practice for a full-service B2B marketing agency. Primarily focused on developing UX, discovery, and design thinking offerings for a variety of clients, mainly in the industrial, construction, and technology industries. I led discovery projects and proof-of-concept initiatives for new business, and worked with other agency disciplines on journey mapping, service design, user experience design, accessibility standards, and UI design activities.</p>

            <h4>Highlighted Projects</h4>

            <h5>Mixed-method UX research for private university</h5>
            <p>Used strategic, generative research to improve a university site for prospective students. Identified usability barriers through heuristic analysis, cognitive walkthroughs, and accessibility audits. Then, crafted a testing guide with an interview segment to help colleagues uncover pain points that informed design updates.</p>

            <h5>Content hub redesign for a construction equipment company</h5>
            <p>Helped shape a reimagined content hub for professional and hobbyist welders that curates DIY projects, user-generated social posts, and company-produced tutorials. By centralizing content that was previously scattered across the site, the new community-driven destination increased traffic and engagement from welders of all skill levels.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">March 2021 to May 2022</span>
        <div class="employer-role">
            <h3 class="role-heading">UI/UX Designer</h3>
            <span class="small-text-16 business-name">Hy-Vee</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">5820 Westown Pkwy, West Des Moines, Iowa 50266</span>
            <span class="small-text-16 address">+1 (515) 267-2800</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>As a UI/UX designer on cross-functional teams at Hy-Vee, I created and tested wireframes, interface concepts, and interactive prototypes for features, products, and services. I worked closely with developers to ensure quality and accessibility, strictly adhering to WCAG standards. I also planned and conducted qualitative and quantitative user research to identify areas for improvement and refine problem statements.</p>

            <h4>Highlighted Projects</h4>

            <h5>0-1 design system implementation</h5>
            <p>UX designer on a dedicated cross-functional team that built a design system from the ground up. Beyond creating a Figma component library, the design sytem provided well-documented, accessible, and coded components for UX and engineering teams. Although rooted in design, the effort equally emphasized frequent company-wide communication, including feedback loops with product teams and clear documentation to drive adoption.</p>

            <h5>Consistent cross-platform navigation</h5>
            <p>Designed and facilitated the roll out of a global navigation system for a $12B regional grocery retailer. This effort included understanding the technical implementation to support disparate tech stacks and different personas. Once an IT pipedream, this fragmented online experience turned into a mobile-first, reusable pattern that delivered consistency across platforms.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">January 2019 to March 2021</span>
        <div class="employer-role">
            <h3 class="role-heading">Experience Designer</h3>
            <span class="small-text-16 business-name">Accenture</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">1420 Locust Street, Suite 200, Des Moines, Iowa 50309</span>
            <span class="small-text-16 address">+1 (888) 374-5527</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>As a UX lead on Agile teams for Accenture's Industry X.0 division (formerly Pillar Technology), I turned client business requirements into accessible products and experiences, using quick prototypes to get feedback from customers and inspire stakeholders, while also working closely with my team to build solutions – even when details were unclear.</p>

            <h4>Highlighted Projects</h4>

            <h5>Embedded app for utility construction crews</h5>
            <p>Through deep user research and iterative testing, I designed a smarter, more intuitive embedded app that helps drillers adjust when problems arise. The design supports real-time decision-making by simplifying complex workflows, helping reduce errors, and empowering crews of all sizes to work more efficiently.</p>

            <h5>Design sprint for a Fortune 500 partnership</h5>
            <p>In 1 week, I paired with a researcher to create a native iOS app concept to help a major US energy corporation track machinery usage, maintenance schedules, and deployment locations. The sprint concluded with a presentation to company executives and department leaders steering the company's broader shift to iOS and macOS-based enterprise solutions.</p>

            <h5>In-cabin transatlantic flight prototypes</h5>
            <p>Designed and prototyped 3 distinct digital solutions for a premiere North American airline to improve their in-cabin experience on transatlantic flights. App concepts for mobile, the in-flight entertainment screen, and crew tablet were tested in a broader Wizard of Oz simulation with customers before full-scale implementation, which began going to market in 2021.</p>

            <h5>Intelligent shipping documentation generation (patented)</h5>
            <p>Created and tested a guided experience that helps business owners generate the forms needed for international shipments. The interface, <a href="https://patentimages.storage.googleapis.com/45/69/2e/be045d447a73f2/US20230004924A1.pdf" title="Computerized systems and methods for electronic document preparation" target="_blank">patented in 2023</a>, makes it easier to step through the complexities of shipping regulations by dynamically asking questions to complete compliant, accurate shipping documents.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">February 2014 to December 2018</span>
        <div class="employer-role">
            <h3 class="role-heading">Project Lead</h3>
            <span class="small-text-16 business-name">Visionary Services</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">300 E Locust Street, Suite 250, Des Moines, Iowa 50309</span>
            <span class="small-text-16 address">+1 (515) 369-3545</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>Hyrbid design, front end, and project management role. Focused on accessibility and performance during the rise of Responsive Web Design, often turning the finalized design into front end code. Frequently collaborated with developers on final product, wireframing important tools and user flows, creating HTML prototypes, and designing to WCAG standards.</p>
            
            <h4>Highlighted Projects</h4>

            <h5>Performing arts website redesign</h5>
            <p>Restructured and redesigned the website for central Iowa's largest arts & entertainment organization. Made content navigation and discovery easier for customers and patrons through a modular, connected system – driven by more efficient content model.</p>

            <h5>Propritary CMS</h5>
            <p>Key contributor to major improvements of Site OnCall, a proprietary CMS used by hundreds of business websites – including a core platform redesign in 2014. New CMS version contained a then-innovative drag-and-drop page builder that significantly improved the content creation &amp; management experience. Also contributed to client-specific CMS customizations, extending core functionality to meet unique content and workflow needs across various industries.</p>

            <h5>Hybrid designer-developer career path</h5>
            <p>Organized and led an employee task force that created and implemented a new hybrid career path for design and front-end roles. As the point person, I collected requirements and feedback from company leaders, funneled it to the committee, and kept monthly meetings focused on collectively drafting job descriptions, skill development plans, progression, and compensation for each role.</p>
        </details>
    </section>

    <section class="work-experience">
        <span class="timeframe small-text-14 mono">July 2011 to February 2014</span>
        <div class="employer-role">
            <h3 class="role-heading">Graphic Designer</h3>
            <span class="small-text-16 business-name">ABC Sign & Display</span>
        </div>
        <div class="employer-contact">
            <span class="small-text-16 address">3300 101st Street Urbandale, Iowa 50322</span>
            <span class="small-text-16 address">+1 (515) 270-8200</span>
        </div>
        <details>
            <summary>
                description
            </summary>
            <p>Created designs for a variety of client projects, including apparel, marketing materials, building signage, vehicle wraps, and commemorative coins. Also designed logos for startup and rebranded businesses. Worked closely with sales staff to understand full scope of design needs and collaborated with production crew to fulfill vision for design concepts.</p>
        </details>
    </section>
    
</section>